.blog {
  width: 100%;
  a {
    color: #909090;
    font-size: .convert(15) [@rem];
  }
  .tag-fixed {
    width: 100%;
    height: .convert(50) [@rem];
  }
  &-tags {
    width: 100%;
    position: fixed;
    background: #ffffff;
    left: 0;
    &-container {
      display: flex;
      align-items: center;
      height: .convert(50) [@rem];
      .headerWith();

      ul {
        flex: 1;
        display: flex;
        align-items: center;

        li {
          &.tagActive {
            a {
              color: @theme-color;
            }
          }
        }
      }
    }
  }
  &-session {
    .headerWith();
    display: flex;
    margin-top: 20px;
    &-list {
      flex: 1;
    }
    &-banner{
      width: 200px;
      margin-left: 20px;
        img{
           width: 100%;
        }
      }
  }
}
