.profile {
  width: .headerWith();

  .container {
    width: 100%;
    background: #ffffff;
    padding: .convert(10) [ @rem] .convert(15) [ @rem] .convert(20) [ @rem];
    margin-top: .convert(20) [ @rem];
    border-radius: .convert(4) [ @rem];
    

    h2 {
      padding: .convert(20) [ @rem];
      padding-left: 0;
      padding-bottom: 0;
      font-weight: bolder;
    }
  }

  @media screen and (max-width: 768px) {
    .uploadHead {
      text-align: left !important;
    }
  }
}

:global {
  .ant-upload-list-picture-card-container {
    width: 80px;
    height: 80px;
  }
}
