*{
  padding: 0;
  margin: 0;
}
ul,ol{
  list-style: none;
}
@theme-color:#007fff;
@theme-btn-clor:#0876e4;


@default-w: 1920;
.convert(@px, @width: @default-w) {
  @var:  unit((@px/@width)) * 10;
  @rem: ~'@{px}px';
  @rems: ~'@{var}rem';
}
.rem(@name,@px) {
    @{name}: unit((@px / @default-w)*10, rem);
}
